* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  background-color: #353434;
  display: flex;
}

.app-content {
  margin-left: 25%;
  padding: 2rem;
  flex: 1;
  color: #e8e8e8;
}

.app-content h1 {
  color: #e8e8e8;
}

.app-content p {
  color: #f1ebeb;
}

/* Responsive */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .app-content {
    margin-left: 0;
    padding: 1.5rem;
  }
}
